.aboutContainer {
    background: linear-gradient(172deg, #2a3e97 0%, #10c3eb 5%, #1e5983 59%, #10c3eb 99%, #09218f 100%);
    border-top: 1px solid black;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
  }
  
  .aboutContainer.fadeIn {
    opacity: 1;
  }
  
  .text_Paraf {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .text_Paraf.fadeIn {
    opacity: 1;
  }
  .tParaf {
    margin: 10px 0; 
  }

  .aboutContainer h1 {
    text-align: center;
  }
  
  
  .text_Paraf:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .text_Paraf:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .text_Paraf:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  .text_Paraf:nth-child(4) {
    animation-delay: 0.7s;
  }
  
  .text_Paraf:nth-child(5) {
    animation-delay: 0.9s;
  }
  