.aboutP_container {
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_pic {
    width: 1227px;
    height: 638px;
    background: rgba(158, 17, 17, 0.5);
}

.aboutSq {
    position: absolute;
    width: 1068px;
    height: 576px;
    top: 181px;
    left: 60px;
    gap: 0px;
    border-radius: 30px;
    border: 2px solid #0187A0;
}