* {
    margin: 0;
    box-sizing: border-box; 
}

.services {
    width: 100%;
    height: 893px;
    top: 985px;
    gap: 0px;
    opacity: 0px;
    background: #1C344D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceHeader {
    width: 214px;
    height: 50px;
    top: 116px;
    left: 765px;
    gap: 0px;
    opacity: 0px;
    color: #C6E070;
    padding-bottom: 200px;
}

.services__item {
    height: 404px;
    width: 336px;
    width: 100%; 
    padding: 30px 15px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    height: auto; 
    margin-bottom: 20px;
    background: #FBFDF7;

}

.service__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg); 
    margin-bottom: 30px;
}

.service__icon i {
    font-size: 2rem;
}

.services__title {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 30px;
    color: black; 
}

.service_item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 1515px;
    height: 404px;

}

.imgp {
    height: 0px; 
    width: 300px;
    border-radius: 10%;
    animation: slideInFromLeft 2.5s ease-in-out forwards;
    width: 288px;
    height: 146px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;

}

.services__title {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 30px;
    font-size: 32px;
    color: #0187A0;
}

.item_det {
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.serBtn {
    position: absolute;
    border-radius: 50px;
    height: 48px;
    width: 175px;
    top: 170px;
    left: 10px;
    color: #0187A0;
    border-color:#0187A0;
}

.arrowService {
    position: absolute;
    top: 175px;
    left: 220px;
    padding: 10px;
    color: #0187A0;
    border-radius: 50px;
    border-color:#0187A0;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }



@media only screen and (max-width: 776px) {
    .service_item-wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: auto; 
    }
    .imgp {
    height: auto; 
    width: 70%;
    border-radius: 10%;
    }

    
   
}

@media only screen and (max-width: 1370px ) and (min-width: 776px) {
    .service_item-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
    }
}