.navbar {
  background: #0187A0;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  width: 100%;
  height: 135px;
  transition: height 0.3s ease;
}

.navbar.expanded {
  height: 25vh;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%; 
}

.logo {
  transition: opacity 0.3s ease;
}

.logo.hidden {
  opacity: 0;
}

.logo img {
  width: 64px;
  height: 72px;
  top: 28px;
  left: 47px;
  gap: 0px;
  opacity: 0px;

}

.navbar-logo {
  text-decoration: none;
  color: #fff;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 70px;
  }

  .navbar-links {
    display: none;
  }

  .navbar.expanded .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
}
